body {
    background-color: #9FF1FE;
}

h1 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
}


h1 em {
    font-size: 30px;
    color: white;
    /*background-color: black;*/
}

span.alamode {
    background-color: #FEA9EB;
    padding-left: 5px;
    padding-right: 10px;
}


#snark {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif;
    font-size: 24px;
}

div#intro {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 30px;
}

#hi, #shortblondevegan, #welcome {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
}

div#cone {
    text-align: center;
    /*
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px #C68F47;
    */
}