body {
    background-color: #9FF1FE;
}

a:visited {
    color: purple;
}

h1 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 15px;
}

h1 em {
    font-size: 30px;
    color: white;
}

span.alamode {
    background-color: pink;
    padding-left: 5px;
    padding-right: 10px;
}


#snark {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, serif;
    font-size: 24px;
}

#intro {
    background-color: white;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border: 5px solid pink;
    border-radius: 30px;
}

#hi, #shortblondevegan, #welcome {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.25;
}

#icecreamcone {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
    line-height: 1.25;
}

#scoop3 {
    margin-top: 25px;
    background-color: lightyellow;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

#scoop3::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 10px;
    height: 40px;
    background: lightyellow;
    width: 180px;
    border-radius: 100%;
    z-index: 4;
}

#scoop2 {
    margin-top: -40px;
    text-align: center;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#scoop2::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 10px;
    height: 40px;
    background: pink;
    width: 180px;
    border-radius: 100%;
    z-index: 3;
}

#scoop1 {
    margin-top: -40px;
    text-align: center;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#scoop1::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 10px;
    height: 40px;
    background: brown;
    width: 180px;
    border-radius: 100%;
    z-index: 2;
}

#cone {    
    text-align: center;
    margin-top: -20px;
    height: 0px;
    width: 0px;
    margin-left: auto;
    margin-right: auto;
    border-right: 75px solid transparent;
    border-left: 75px solid transparent;
    border-top: 250px solid #C68F47;
    z-index: 1;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

#cone p {
    margin-top: -175px;
}  

.aboutme {
    text-align: left;
    font-size: 20px;
    font-family: Georgia, serif;
    line-height: 1.25;
}

#gettoknowme, #funfacts {
    background-color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 5px solid pink;
    border-radius: 30px;
}





